.feetSection {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 768px) {
    .feetSection {
        flex-direction: column;
        gap: 1.2rem;
    }
}

.sectionTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
}
