/* frontend\src\components\FormElements\InputField.module.css */
.inputGroup {
    composes: inputGroup from './FormElementsBase.module.css';
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.label {
    composes: formLabel from './FormElementsBase.module.css';
    font-weight: bold; /* ajuste específico aqui */
}

.input {
    composes: formInput from './FormElementsBase.module.css';
}
