/* frontend\src\styles\components\Header.module.css */
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-primary);
    color: var(--color-bg-section);
    padding: 1rem;
    text-align: center;
    height: var(--header-h);
}

.headerTitle {
    font-size: 2rem;
    font-weight: 700;
}
