/* src/styles/Footer.module.css */
.footer {
    background-color: #e5e5e5; /* cor gelo/cinza-claro */
    color: #333;
    font-size: 0.85rem;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

@media screen and (max-width: 430px) {
    .footer {
        font-size: 0.75rem;
        padding: 8px;
        gap: 2px;
    }
}
